.container {
    background: url(../assets/background-proposal-a.jpg);

    height: 100vh;
    width: 100vw;

    overflow-y: hidden;

    color: white;
}


.container #logo_text {
    font-size: 2rem;
    color: white;

    position: fixed;

    top: 1rem;
    transform: translateX(2rem);

    cursor: default;   
}

.container .credential_area h1 {
    color: white;
    font-size: 1.9rem;

    text-align: center;

    margin-bottom: 2rem;
}

.container .credential_area {

    width: 30vw;

    margin: auto;
    margin-top: -10rem;

    display: flex;

    flex-direction: column;
    gap: 1rem;
}

.container .credential_area .input_box {
    width: 100%;
    border-radius: 1rem;

    height: 3rem;
    padding-left: 1rem;

    margin: auto;

    background: none;
    background-color: #432E2E;

    outline: none;
}


.container .input_box::after {
    background-color: red;
}

.container .input_box::placeholder {
    color: white;
    opacity: 84%;
}

.container .credential_area button#login_bttn {
    color: white;
    background-color: #533A3A;

    border-radius: 1rem;

    width: 30%;
    height: 3rem;

}

.container .credential_area button#login_bttn:hover {
    background-color: #694a4a;
}

.container .credential_area h2 {
    color: white;
    font-size: 1.5rem;
}

.container .credential_area h2 span#register_span {
    color: #75FFAA;

    text-decoration: underline;
}

@media (width <= 1030px) {
    
    .container .credential_area {

        width: 40vw;
    
        margin: auto;
        margin-top: -10rem;
    
        display: flex;
    
        flex-direction: column;
        gap: 1rem;
    }
}