* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    place-content: center;
}

body {
    display: grid;
    min-height: 100vh;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40rem;
    height: 30rem;
    margin: auto;
    transition: all 400ms;
    gap: 1rem;
}

.container:hover .box {
    filter: opacity(97%) blur(.5rem);
    transition: all 400ms
}

.container .box:hover {
    filter: grayscale(0%) opacity(100%);
}

.container:has(.box-1:hover) {
    grid-template-columns: 2fr 1fr 1fr; 
}

.container:has(.box-1:hover) .box-1 p {
    font-size: 2rem;
    width: max-content;
    text-align: center;
    margin-inline: auto;

    transition: all 200ms;
}

.container:has(.box-2:hover) {
    grid-template-columns: 1fr 2fr 1fr;
}

.container:has(.box-2:hover) .box-2 p {
    font-size: 2rem;
    width: max-content;
    text-align: center;
    margin-inline: auto;

    transition: all 200ms;
}

.container:has(.box-3:hover) {
    grid-template-columns: 1fr 1fr 2fr;
}

.container:has(.box-3:hover) .box-3 p {
    font-size: 2rem;
    width: max-content;
    text-align: center;
    margin-inline: auto;

    transition: all 200ms;
}

.box-1 {
    background: url(../assets/audio_software.jpg);
}

.box-2 {
    background: url(../assets/eletronic_comp.jpg);
}

.box-3 {
    background: url(../assets/guy_with_a_guitar.jpg);
}

.box p {
    color: white;
    margin-top: 10rem;
    margin-left: -2rem;
    width: 10rem;
    font-size: 1.5rem;
}

.box {
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-radius: 1rem;

    transition: all 400ms
}

.box:hover {
    cursor: pointer;
}

@media (width <= 780px) {

    * {
        overflow-y: scroll;
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 15rem;
        height: 70rem;
        margin: auto;
        transition: all 400ms;
        gap: 1rem;
    }
    
    .container:has(.box-1:hover) { 
        width: 20rem;
        
        > .box-2 {
            width: 18rem;
            transition: all 400ms;
            margin-inline: auto;
        }

        > .box-3 {
            width: 18rem;
            transition: all 400ms;
            margin-inline: auto;
        }
    }
    
    .container:has(.box-1:hover) .box-1 p {
        font-size: 2rem;
        width: max-content;
        text-align: center;
        margin-inline: auto;
    
        transition: all 200ms;
    }
    
    .container:has(.box-2:hover) {
        width: 20rem;

        > .box-1 {
            width: 18rem;
            transition: all 400ms;
            margin-inline: auto;
        }

        > .box-3 {
            width: 18rem;
            transition: all 400ms;
            margin-inline: auto;
        }
    }
    
    .container:has(.box-2:hover) .box-2 p {
        font-size: 2rem;
        width: max-content;
        text-align: center;
        margin-inline: auto;
    
        transition: all 200ms;
    }
    
    .container:has(.box-3:hover) {
        width: 20rem;

        > .box-1 {
            width: 18rem;
            transition: all 400ms;
            margin-inline: auto;
        }

        > .box-2 {
            width: 18rem;
            transition: all 400ms;
            margin-inline: auto;
        }
    }
    
    .container:has(.box-3:hover) .box-3 p {
        font-size: 2rem;
        width: max-content;
        text-align: center;
        margin-inline: auto;
    
        transition: all 200ms;
    }
}