* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    place-content: center;
}

body {
    display: grid;
    min-height: 100%;
    max-width: 100vh;

}

h1#logo_text {
    font-size: 2rem;
    color: white;

    position: fixed;

    top: 1rem;
    left: 2rem;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40rem;
    height: 30rem;
    margin: auto;
    transition: all 400ms;
    gap: 1rem;

    overflow-y: hidden;
}

.container:hover .box {
    filter: opacity(97%) blur(.5rem);
    transition: all 400ms
}

.container .box-1 {
    border-radius: 1rem;
}

.container .box:hover {
    filter: grayscale(0%) opacity(100%);
}

.container:has(.box-1:hover) {
    grid-template-columns: 2fr 1fr 1fr; 
}

.container:has(.box-1:hover) .box-1 p {
    font-size: 2rem;
    width: max-content;
    text-align: center;
    margin-inline: auto;

    transition: all 200ms;
}

.container:has(.box-2:hover) {
    grid-template-columns: 1fr 2fr 1fr;
}

.container:has(.box-2:hover) .box-2 p {
    font-size: 2rem;
    width: max-content;
    text-align: center;
    margin-inline: auto;

    transition: all 200ms;
}

.container:has(.box-3:hover) {
    grid-template-columns: 1fr 1fr 2fr;
}

.container:has(.box-3:hover) .box-3 p {
    font-size: 2rem;
    width: max-content;
    text-align: center;
    margin-inline: auto;

    transition: all 200ms;
}

.box-1 {
    background: url(../assets/audio_software.jpg);
}

.box-2 {
    background: url(../assets/eletronic_comp.jpg);
}

.box-3 {
    background: url(../assets/guy_with_a_guitar.jpg);
}

.box p {
    color: white;
    margin-top: 10rem;
    margin-left: -2rem;
    width: 10rem;
    font-size: 1.5rem;
}

.box {
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-radius: 1rem;

    transition: all 400ms;

    overflow-y: hidden;
}

.box:hover {
    cursor: pointer;
}

@media (width <= 780px) {


    h1#logo_text {

        width: 10rem;

        position: absolute;
        left: 50%;
        margin-left: -5rem;
    }

    h1#message_text{

        font-size: 1.3rem;
    }

    .container {
        width: 90vw;
    }

    .container .box-1 {
        border-radius: 2rem;
    }

    .container .box {
        border-radius: 2rem;
    }

    .container p {
        visibility: hidden;
    }

    .container:hover .box {
        filter: opacity(100%);
    }

    .container:has(.box-1:hover) {
        grid-template-columns: 1fr 1fr 1fr; 
    }
    
    .container:has(.box-1:hover) .box-1 p {
        font-size: 2rem;
        width: max-content;
        text-align: center;
        margin-inline: auto;
    
        transition: all 200ms;
    }
    
    .container:has(.box-2:hover) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .container:has(.box-2:hover) .box-2 p {
        font-size: 2rem;
        width: max-content;
        text-align: center;
        margin-inline: auto;
    
        transition: all 200ms;
    }
    
    .container:has(.box-3:hover) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .container:has(.box-3:hover) .box-3 p {
        font-size: 2rem;
        width: max-content;
        text-align: center;
        margin-inline: auto;
    
        transition: all 200ms;
    }
    
}