
.everything {
    background: url(../../public/introduction_background.png);

    width: 100vw;
    height: 100vh;
}

h1#logo_text {
    font-size: 2rem;
    color: white;

    position: fixed;

    top: 1rem;
    left: 2rem;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40rem;
    height: 30rem;
    margin: auto;
    transition: all 400ms;
    gap: 1rem;

    overflow-y: hidden;
}

.container:hover .box {
    filter: opacity(97%) blur(.5rem);
    transition: all 400ms
}

.container .box_1 {
    border-radius: 1rem;
}

.container .box:hover {
    filter: grayscale(0%) opacity(100%);
}

.container:has(.box_1:hover) {
    grid-template-columns: 2fr 1fr 1fr; 
}

.container:has(.box_1:hover) .box_1 p {
    font-size: 2rem;
    width: max-content;
    text-align: center;
    margin-inline: auto;

    transition: all 200ms;
}

.container:has(.box_2:hover) {
    grid-template-columns: 1fr 2fr 1fr;
}

.container:has(.box_2:hover) .box_2 p {
    font-size: 2rem;
    width: max-content;
    text-align: center;
    margin-inline: auto;

    transition: all 200ms;
}

.container:has(.box_3:hover) {
    grid-template-columns: 1fr 1fr 2fr;
}

.container:has(.box_3:hover) .box_3 p {
    font-size: 2rem;
    width: max-content;
    text-align: center;
    margin-inline: auto;

    transition: all 200ms;
}

.box_1 {
    background: url(../assets/audio_software.jpg);
}

.box_2 {
    background: url(../assets/eletronic_comp.jpg);
}

.box_3 {
    background: url(../../public/guy_with_a_guitar.jpg);
}

.box p {
    color: white;
    margin-top: 10rem;
    margin-left: -2rem;
    width: 10rem;
    font-size: 1.5rem;
}

.box {
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-radius: 1rem;

    transition: all 400ms;

    overflow-y: hidden;
}

.box:hover {
    cursor: pointer;
}

@media (width <= 780px) {

    .background_a {

        >#logo_text {
            filter: blur(.2rem);
        };

    }

    .background_a {
        background: url('../assets/audio_software.jpg');
    }

    h1#logo_text {

        width: 10rem;

        position: absolute;
        left: 50%;
        margin-left: -5rem;
    }

    h1#message_text{

        font-size: 1.3rem;
    }

    .container {
        width: 90vw;

        grid-template-columns: 1fr 1fr 1fr;

    }

    .container .box_2 {
        transition: all;
        transition-delay: 500ms;
    }

    .container .box_1 {
        border-radius: 2rem;

        transition: all;
        transition-duration: 1000ms;
    }

    .container .box {
        border-radius: 2rem;
    }

    .container p {
        visibility: hidden;
    }

    .container:hover .box {
        filter: opacity(100%);
    }

    .container:has(.box_1:hover) {
        grid-template-columns: 1fr 1fr 1fr; 
    }
    
    
    .container:has(.box_2:hover) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container:has(.box_3:hover) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .container:has(.box_2:hover) .box_2 p {
        font-size: 100%;
    }

    .container:has(.box_1.activated_box) span#close_box {

        position: fixed;

        left: 80%;
        top: 10%;

        color: white;
        font-size: 1.5rem;
    }

    .container:has(.box_1.activated_box){    

        grid-template-columns: 1fr;

        width: 100vw;
        margin-top: 2rem;

        transition-duration: 800ms;
        transition: all;
    }

    .container:has(.box_1.activated_box) .box_1{    
        
        position: relative;
        display: block;

        height: 29rem;
        width: 20rem;
        margin: auto;

        transition: all;
        transition-duration: 1000ms;

        box-shadow: 5px 5px 10px #654166;
    }

    .container:has(.box_1.activated_box) .box_1 {
        transform: translateX(0);
        box-shadow: 5px 5px 10px #654166;
    }

    .container:has(.box_1.activated_box) .box_2 {
        visibility: hidden;
        display: none;
    }
    

    .container:has(.box_1.activated_box) .box_3 {
        visibility: hidden;
        display: none;
    }
    
}