:root {
    --text-color: '#181818';
    --post-button-collor: grey;
    --post-after-line: grey;

    --general-text-color: '#181818';
    --button-text-color: 'white';

    --logo-gradient: linear-gradient(45deg, #D870DA, #44B6D5, #6BD167)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    margin-top: 1rem;
    width: 100%;

    color: var(--general-text-color);

}

.container .header h1#logo_text{
    background: var(--logo-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    width: 100%;
    margin: auto;
}

.container #logo_text {
    position: absolute;
    left: 2rem;
    top: 1rem;
    font-size: 1.5rem;
}

.container #logo_text:hover {
    cursor: pointer
}

.input_block {

    width: 60%;
    max-width: 100%;

    position: relative;

    margin: auto;
    margin-top: .5rem;

    background: var(--logo-gradient);
    padding: .18rem;

    border-radius: .4rem;
}

.input_block input#search {    

    width: 100%;
    height: 3rem;
    border-radius: .3rem;
    padding-left: 1rem;


    background: white;
}

.input_block button {
    
    height: 100%;
    width: 3rem;
    padding: 1rem;
    position: absolute;
    right: 0;
    bottom: .01rem;
}
  

/* ---------------------- POST STYLES ----------------------  */

.container .post {
    display: flex;
    flex-direction: column; 
    text-wrap: wrap;

    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container .post::after {
    content: "";
    display: block;

    width: 100vw;
    height: .07rem;
    margin-top: 1rem;

    background-color: var(--post-after-line);
}

.container .post .title_and_text h1 {
    font-size: 1.5rem;
}

.container .post .title_and_text p{
    margin-top: 1rem;
}

.container .post .info_bellow {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.container .post .info_bellow button{
    text-align: left;
    margin-top: 2rem;

    background-color: var(--post-button-collor);
    width: fit-content;

    padding-inline: 1rem;
    padding-block: .5rem;
    border-radius: .3rem;
}

.container .post .info_bellow p#owner_name{
    margin-top: 2rem;
    font-size: .9rem;
}